@import url('fonts.css');

body {
   background-color: #0F0034;
   color: white;
   font-family: Lexend;
}

/* Navbar */
.navbar {
   position: relative;
   z-index: 1;
}

.navbar-brand {
   font-size: 36px;
   font-weight: bold !important;
}

.navbar-brand,
.nav-link {
   color: white !important;
   font-family: Lexend;
}

/* Utility */
.tombol {
   text-transform: uppercase;
   border-radius: 40px;
   color: white;
   background-color: #7C0DBE;
}

.tombol:hover {
   color: white;
   background-color: #02A1FE;
}

.btnav {
   border-radius: 40px;
   color: black !important;
   background-color: #20E0F0;
}

.btnav:hover {
   color: white !important;
   background-color: #02A1FE;
}

.navbar-toggler {
   background-color: #20E0F0 !important;
}

/* Jumbotron */
.jumbotron {
   /* background-image: linear-gradient(to right, #C12DD1 0%, #6D8CF8 100%); */
   background-image: url('../img/back.png');
   background-size: cover;
   height: 550px;
   text-align: center;
   position: relative;
}

.jumbotron .container {
   z-index: 1;
   position: relative;
}

.jumbotron::after {
   content: '';
   display: block;
   width: 100%;
   height: 80%;
   /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
   position: absolute;
   bottom: 0;
}

.jumbotron .display-4 {
   font-size: 40px;
   margin-top: 200px;
   margin-bottom: 30px;
   font-weight: normal !important;
}

.jumbotron .display-4 span {
   font-weight: 900 !important;
   color: white;
   text-transform: capitalize;
   text-shadow: 7px -8px #20E0F0;
}

/* info panel */
.info-panel {
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
   border-radius: 12px;
   margin-top: -100px;
   background-color: #24144A;
   padding: 35px;
}

.info-panel img {
   width: 80px;
   height: 80px;
   margin-right: 20px;
}

.info-panel h4 {
   font-size: 16px;
   text-transform: uppercase;
   font-weight: bold;
}

.info-panel p {
   font-size: 14px;
   color: #ACACAC;
}

/* Workingspace */
.workingspace {
   margin-top: 120px;
   text-align: center;
}

.workingspace h3 {
   font-size: 52px;
   font-weight: 200;
   text-transform: capitalize;
   margin-top: 30px;
}

.workingspace h3 span {
   font-weight: 900;
   text-transform: uppercase;
   text-shadow: 4px -12px #7C0DBE;
}

.workingspace p {
   font-size: 18px;
   color: #ACACAC;
   font-weight: 200;
   margin: 25px 0;
}

/* Testimonial */
.testimonial {
   margin-top: 100px;
}

.testimonial h5 {
   text-align: center;
   font-weight: 200;
   font-style: italic;
   font-size: 24px;
}

.testimonial figure img {
   width: 60px;
   margin: 20px 10px 10px;
   opacity: 0.6;
}

.testimonial figure img.utama {
   width: 90px;
   opacity: 1;
   margin-top: 5px;
}

.testimonial figure h5 {
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
}

.testimonial figure p {
   font-size: 13px;
   color: #ACACAC;
   margin-top: -5px !important;
}

.testimonial figcaption {
   text-align: center;
}

.footer {
   margin-top: 100px;
}

.footer p {
   color: #ACACAC;
   font-size: 18px;
}

/* Desktop Version */
@media (min-width: 992px) {

   .nav-link {
      margin-left: 30px;
   }

   .nav-item {
      font-weight: 500;
   }

   .nav-item:hover::after {
      content: '';
      display: block;
      border-bottom: 3px solid #20E0F0;
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
   }

   .jumbotron {
      height: 750px;
   }

   .jumbotron .display-4 {
      font-size: 72px;
   }

   .jumbotron .display-4 span {
      text-shadow: 7px -14px #20E0F0;
   }

   .workingspace {
      text-align: left;
   }

   .testimonial h5 {
      font-size: 32px;
   }

   #navbarku {
      position: fixed;
      width: 100%;
      top: 0;
   }

   .navbar.scrolled {
      background: #9C00E2 !important;
      transition: all 1s;
   }

   .navbar.scrolled .nav-item {
      color: white !important;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
   }

   .navbar.scrolled .nav-item {
      font-weight: 400;
   }

}