@import url('../css/all.css');
@import url('../css/fonts.css');
@import url('../css/owl.carousel.min.css');
@import url('../css/owl.theme.default.min.css');

:root {

   /*      Theme colors        */
   --text-gray: #3f4954;
   --text-light: #686666da;
   --bg-color: #0f0f0f;
   --white: #ffffff;
   --midnight: #104f55;

   /* gradient color   */
   --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

   /*      theme font-family   */
   --Abel: 'Abel', cursive;
   --Anton: 'Anton', cursive;
   --Josefin: 'Josefin', cursive;
   --Lexend: 'Lexend', cursive;
   --Livvic: 'Livvic', cursive;
}

html,
body {
   background-color: #0F0034;
   color: white;
   font-family: Lexend;
   margin: 0%;
   box-sizing: border-box;
   overflow-x: hidden;
}

.flex-row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

#navbarku {
   position: fixed;
   width: 100%;
   top: 0;
}

.navbar.scrolled {
   background: #9C00E2 !important;
   transition: all 1s;
}

/* Navbar */
.navbar {
   position: relative;
   z-index: 1;
}

.navbar-brand {
   font-size: 36px;
   font-weight: bold !important;
}

.navbar-brand,
.nav-link {
   color: white !important;
   font-family: Lexend;
}

/* Utility */
.tombol {
   text-transform: uppercase;
   border-radius: 40px;
   color: white;
   background-color: #7C0DBE;
}

.tombol:hover {
   color: white;
   background-color: #02A1FE;
}

.btnav {
   border-radius: 40px;
   color: black !important;
   background-color: #20E0F0;
}

.btnav:hover {
   color: white !important;
   background-color: #02A1FE;
}

.navbar-toggler {
   background-color: #20E0F0 !important;
}

/* Jumbotron */
.jumbotron {
   /* background-image: linear-gradient(to right, #C12DD1 0%, #6D8CF8 100%); */
   background-image: url('../img/back.png');
   background-size: cover;
   height: 550px;
   text-align: center;
   position: relative;
}

.jumbotron .container {
   z-index: 1;
   position: relative;
}

.jumbotron::after {
   content: '';
   display: block;
   width: 100%;
   height: 80%;
   /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
   position: absolute;
   bottom: 0;
}

.jumbotron .display-4 {
   font-size: 40px;
   margin-top: 200px;
   margin-bottom: 30px;
   font-weight: normal !important;
}

.jumbotron .display-4 span {
   font-weight: 900 !important;
   color: white;
   text-transform: capitalize;
   text-shadow: 7px -8px #20E0F0;
}

/* info panel */
.info-panel {
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
   border-radius: 12px;
   margin-top: -100px;
   background-color: #24144A;
   padding: 35px;
}

.info-panel img {
   width: 80px;
   height: 80px;
   margin-right: 20px;
}

.info-panel h4 {
   font-size: 16px;
   text-transform: uppercase;
   font-weight: bold;
}

.info-panel p {
   font-size: 14px;
   color: #ACACAC;
}

/* Workingspace */
.workingspace {
   margin-top: 120px;
   text-align: center;
}

.workingspace h3 {
   font-size: 52px;
   font-weight: 200;
   text-transform: capitalize;
   margin-top: 30px;
}

.workingspace h3 span {
   font-weight: 900;
   text-transform: uppercase;
   text-shadow: 4px -12px #7C0DBE;
}

.workingspace p {
   font-size: 18px;
   color: #ACACAC;
   font-weight: 200;
   margin: 25px 0;
}

/* Testimonial */
.testimonial {
   margin-top: 100px;
}

.testimonial h5 {
   text-align: center;
   font-weight: 200;
   font-style: italic;
   font-size: 22px;
}

.testimonial figure img {
   width: 60px;
   margin: 20px 10px 10px;
   opacity: 0.6;
}

.testimonial figure img.utama {
   width: 90px;
   opacity: 1;
   margin-top: 5px;
}

.testimonial figure h5 {
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   color: #FF00D6;
}

.testimonial figure p {
   font-size: 13px;
   color: #ACACAC;
   margin-top: -5px !important;
}

.testimonial figcaption {
   text-align: center;
}

.footer {
   margin-top: 100px;
}

.footer p {
   color: #ACACAC;
   font-size: 18px;
}

/* Back to Top Pure CSS by igniel.com */
html {
   scroll-behavior: smooth;
}

.navbar.scrolled .Top {
   width: 50px;
   height: 50px;
   position: fixed;
   bottom: 30px;
   right: 30px;
   z-index: 99;
   cursor: pointer;
   border-radius: 50%;
   transition: all .5s;
   background: #7C0DBE url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.navbar.scrolled .Top:hover {
   background: #02A1FE url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

/* --------------- Blog Carousel ------------ */

main .blog {
   background: url('../img/Abract01.png');
   background-repeat: no-repeat;
   background-position: right;
   width: 100%;
   background-size: 65%;
}

main .blog .blog-post {
   padding-top: 6%;
}

main .blog-post .blog-content {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 80%;
   margin: 3rem 2rem;
   box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
   padding: 2rem 0;
}

main .blog-content .btn-blog {
   padding: .7rem 2rem;
   margin: .5rem;
   text-transform: capitalize !important;
}

main .blog-content span {
   display: block;
}

section .container .owl-nav {
   position: absolute;
   /* top: 0%; */
   margin: 0 auto;
   width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
   color: white;
   background: transparent;
   font-size: 2rem;
   padding: 1px 30px 1px 30px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
   background: #02A1FE;
   color: white;
   border-radius: 40px;
   padding: 1px 30px 1px 30px;
}

.owl-theme .owl-nav [class*='owl-'] {
   outline: none;
}

/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

#features {
   padding-top: 100px;
}

main .site-content {
   grid-template-columns: 100%;
   display: grid;
}

main .site-content .posts {
   margin-bottom: 50px;
}

main .post-content {
   width: 100%;
}

main .site-content .post-content>.post-image,
.post-title {
   padding: 1rem 2rem;
   position: relative;
}

main .site-content .post-content>.post-image .post-info {
   background: #7C0DBE;
   padding: 1rem;
   position: absolute;
   bottom: 0%;
   left: 30vw;
   border-radius: 3rem;
}

main .site-content .post-content>.post-image>div {
   overflow: hidden;
}

main .site-content .post-content>.post-image .img {
   width: 100%;
   transition: all 1s ease;
}

main .site-content .post-content>.post-image .img:hover {
   transform: scale(1.3);
}

main .site-content .post-content>.post-image .post-info span {
   margin: 0 .5rem;
}

main .post-content .post-title a {
   font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
   border-radius: 0;
   padding: .7rem 1.5rem;
   background: #7C0DBE;
   color: white;
}

.site-content .post-content .post-title .post-btn:hover {
   background: #02A1FE;
   color: white;
}

.site-content .pagination {
   justify-content: center;
   color: white;
   margin: 4rem 0;
}

.site-content .pagination a {
   padding: .6rem .9rem;
   border-radius: 2rem;
   margin: 0 .3rem;
   font-family: var(--Lexend);
}

.site-content .pagination .pages {
   background: var(--text-gray);
   color: var(--white);
}

.site-content .sidebar .popular-tags {
   padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
   background: #7C0DBE;
   padding: .3rem 1rem;
   border-radius: 3rem;
   margin: .3rem .3rem;
}

/* -------x-------- Site Content --------x-------*/


/* --------------- Sidebar ----------------------- */

.site-content>.sidebar .category-list {
   font-family: var(--Livvic);
}

.site-content>.sidebar .category-list .list-items {
   background: #7C0DBE;
   padding: .4rem 1rem;
   margin: .8rem 0;
   border-radius: 3rem;
   width: 90%;
   display: flex;
   justify-content: space-between;
}

.site-content>.sidebar .category-list .list-items a {
   color: white;
}

.site-content .sidebar .popular-post .post-content {
   padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
   padding-top: 3rem;
}

.site-content .sidebar .popular-post .post-info {
   padding: .4rem .1rem !important;
   bottom: 0rem !important;
   left: 1.5rem !important;
   border-radius: 0rem !important;
   background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
   font-size: 1rem;
}

.site-content .sidebar .newsletter .form-element {
   padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
   width: 80%;
   height: 1.9rem;
   padding: .3rem .5rem;
   font-family: var(--Lexend);
   font-size: 1rem;
}

/* -------x------- Sidebar -----------x----------- */

/* Desktop Version */
@media (min-width: 992px) {

   .nav-link {
      margin-left: 30px;
   }

   .nav-item {
      font-weight: 500;
   }

   .nav-item:hover::after {
      content: '';
      display: block;
      border-bottom: 3px solid #20E0F0;
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
   }

   .jumbotron {
      height: 750px;
   }

   .jumbotron .display-4 {
      font-size: 72px;
   }

   .jumbotron .display-4 span {
      text-shadow: 7px -14px #20E0F0;
   }

   .workingspace {
      text-align: left;
   }

   .testimonial h5 {
      font-size: 28px;
   }

   .navbar.scrolled .nav-item {
      color: white !important;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
   }

   .navbar.scrolled .nav-item {
      font-weight: 400;
   }

   main .blog {
      background: url('../img/Abract01.png');
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
      background-size: 45%;
   }

   main .site-content {
      grid-template-columns: 70% 30%;
   }

   .site-content>.sidebar .category-list .list-items {
      width: 85%;
   }

   main .site-content .post-content>.post-image .post-info {
      left: 20vw;
   }

}